body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    letter-spacing: 2px;
    line-height: 1.6;
    font-size: 10pt;
    font-family: "Raleway", sans-serif;
    font-optical-sizing: auto;
    font-weight: normal;
    font-style: normal;
}

.dark-mode-bg {
    background-color: #181A1B !important;
}

.dark-mode-text {
    color: #D0CDC8 !important;
}

/* -----header----- */
header {
    padding: 10px 0 20px 0;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
}

nav a {
    text-decoration: none;
}

nav img {
    height: 70px;
}

.left,
.left:hover {
    position: absolute;
    left: 20px;
    color: black;
    font-size: 18pt;
    font-weight: 500;
    margin-bottom: 4px;
}

.left:hover {
    text-decoration: underline;
}

.middle {
    margin: 0 auto;
    position: relative;
}

.middle img {
    height: 70px;
}

.right {
    position: absolute;
    right: 20px;
    height: 40px;
    cursor: pointer;
}

/* -----gallery----- */
.gallery {
    overflow: hidden;
    padding-left: 7px;
    padding-right: 7px;
}

.row {
    display: flex;
    flex-wrap: wrap;
    padding: 0 7px;
}

.column {
    flex: 25%;
    max-width: 25%;
    padding: 0 4px;
}

.column img {
    margin-top: 8px;
    vertical-align: middle;
    width: 100%;
    border-radius: 4px;
}

@media screen and (max-width: 800px) {
    .column {
        flex: 50%;
        max-width: 50%;
    }
}

@media screen and (max-width: 600px) {
    .column {
        flex: 100%;
        max-width: 100%;
    }
}

/* -----footer----- */
footer {
    font-family: 'Raleway', sans-serif;
    color: #D0CDC8;
    padding-bottom: 100px;
    margin-top: 50px;
    background-color: #181A1B;

}

.footertext {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-left: 100px;
}

footer .logo {
    width: 150px;
    height: auto;
    margin-left: 100px;
    margin-bottom: 25px;
    margin-top: 100px;
}

.contact,
.follow {
    flex: 1 1 calc(50% - 10px);
    margin: 5px;
    box-sizing: border-box;
}

.footertext .contacttext,
.footertext .followtext {
    color: #02ffc8;
    font-weight: 1000;
    font-size: 2.7em;
    text-transform: uppercase;
}

.footertext .email {
    font-size: 12pt;
    font-weight: 450;
}

.email a:link {
    color: #D0CDC8;
}

.email a:hover {
    color: #02ffc8;
}

.links {
    color: #D0CDC8;
    padding: 5px;
}

.links:link {
    color: #D0CDC8;
}

.links:hover {
    color: #02ffc8;
}

@media screen and (max-width: 800px) {

    .contact,
    .follow {
        flex: 1 1 100%;
        margin: 5px 0;
    }

    .follow {
        margin-bottom: 80px;
    }
}