body {
  margin: 0;
  padding: 0;
  letter-spacing: 2px;
  line-height: 1.6;
  font-size: 10pt;
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-weight: normal;
  font-style: normal;
  background-color: #ffffff;
}

.dark-mode-bg {
  background-color: #181A1B !important;
}

.dark-mode-text {
  color: #D0CDC8 !important;
}

/* -----header----- */
header {
  padding: 10px 0;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
}

nav a {
  text-decoration: none;
}

nav img {
  height: 70px;
}

.left,
.left:hover {
  position: absolute;
  left: 20px;
  color: #02ffc8;
  font-size: 18pt;
  font-weight: 450;
  margin-bottom: 4px;
  /* -webkit-text-stroke: 0.4px #333333; */
}

.left:hover {
  text-decoration: underline;
}

.middle {
  margin: 0 auto;
  position: relative;
}

.middle img {
  height: 70px;
}

.right {
  position: absolute;
  right: 20px;
  height: 40px;
  cursor: pointer;
}

/* -----main----- */
.main {
  background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url("bg-img.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 0;
  min-height: 100vh;
  width: 100%;
}

.content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  width: 800px;
  margin-left: auto;
  margin-bottom: 150px;
  margin-right: 80px;
  padding: 20px;
}

.content h1 {
  font-size: 90pt;
  font-weight: 900;
  line-height: 0.8;
  color: #02FFC8;
  margin-left: -5px;
  margin-bottom: 15px;
  letter-spacing: 3px;
  position: relative;
  z-index: 5;
  /* -webkit-text-stroke: 0.5px #333333; */
}

.content h2 {
  font-size: 30pt;
  font-weight: 600;
  color: #FFFFFF;
  letter-spacing: 5px;
  padding-left: 30px;
  padding-bottom: 20px;
  /* -webkit-text-stroke: 1px white;
  color: rgba(0, 0, 0, 0); */
}

.content h3 {
  font-size: 16pt;
  font-weight: 350;
  color: #FFFFFF;
  letter-spacing: 1px;
}

@media (max-width: 800px) {
  .content {
    align-items: center;
    width: 100%;
    margin-left: 0;
    text-align: center;
  }

  .content h1 {
    font-size: 70pt;
  }

  .content h2 {
    margin-top: 10px;
    font-size: 20pt;
  }

  .content h3 {
    text-align: left;
    font-size: 13pt;
  }

  .left,
  .left:hover {
    font-size: 18pt;
  }

  .middle img {
    height: 60px;
  }

  .bottom {
    height: 50px;
  }
}

/* -----places----- */
.places p {
  font-family: "Big Shoulders Display", sans-serif;
  font-size: 20pt;
  font-weight: 400;
  text-align: center;

  margin-top: 120px;
  margin-bottom: 30px;
  max-width: fit-content;
  margin-left: auto;
  margin-right: auto;
  clear: both;
}

.places p:first-child {
  margin-top: 60px;
}

.places {
  /* background-color: white; */
  flex-direction: column;
  overflow: hidden;
}

.places img {
  transition: .8s ease-in-out;
  cursor: pointer;
  border-radius: 8px;
}

.places img:hover {
  transform: scale(1.05);
}

.places .text {
  position: relative;
  top: 20px;
}

.places .firsttext {
  font-family: 'Raleway', sans-serif;
  font-weight: 900;
  font-size: 7vw;
  text-align: left;
  color: #02ffc8;
  margin-top: -20px;
  z-index: 5;
  position: relative;
  /* -webkit-text-stroke: 0.5px #333333; */
}

.places .secondtext {
  font-family: 'Raleway', sans-serif;
  font-weight: 900;
  font-size: 5vw;
  text-align: left;
  margin-top: -45px;
  position: relative;
  color: #333333;
}

.places .thirdtext {
  font-size: 12pt;
  text-align: left;
  font-weight: 400;
  letter-spacing: 1px;
  max-width: 900px;
  color: #333333;
}

.place-right,
.place-left {
  display: flex;
  padding-left: 50px;
  padding-right: 50px;
  transition: 0.8s ease-out;
}

.place-right .text {
  margin-right: auto;
}

.place-right .firsttext {
  left: -100px;
  margin-right: -200px;
}

.place-right .secondtext {
  left: 25px;
}

.place-right .thirdtext {
  margin-left: 40px;
}

.place-right img {
  margin-left: auto;
}

.place-left {
  float: none;
  align-self: flex-end;
}

.place-left .text {
  order: 1;
  margin-left: auto;
}

.place-left .firsttext {
  text-align: right;
  left: 100px;
  margin-left: -200px;
}

.place-left .secondtext {
  text-align: right;
  right: 25px;
}

.place-left .thirdtext {
  margin-right: 40px;
}

.place-left img {
  order: 2;
  margin-right: auto;
}

@media (max-width: 1300px) {
  .places img {
    width: 90vw;
    height: auto;
    margin-bottom: 0px;
    max-width: fit-content;
    margin-left: auto;
    margin-right: auto;
  }

  .place-right,
  .place-left {
    flex-direction: column;
  }

  .place-right .text,
  .place-left .text {
    width: 90vw;
    margin-left: auto;
    margin-right: auto;
    margin-top: -80px;
  }

  .place-right .thirdtext,
  .place-left .thirdtext {
    margin-right: 0;
    margin-left: 0;
  }

  .place-right .firsttext {
    text-align: right;
    left: -250px;
    font-size: 10vw;
  }

  .place-right .secondtext {
    text-align: right;
    left: -80px;
    font-size: 7vw;
  }

  .place-right .thirdtext {
    text-align: left;
  }

  .place-left .firsttext {
    text-align: left;
    left: 250px;
    font-size: 10vw;
  }

  .place-left .secondtext {
    text-align: left;
    left: 80px;
    font-size: 7vw;
  }

  .place-left .thirdtext {
    text-align: left;
  }

  .place-left img {
    order: 1;
  }

  .place-left .text {
    order: 2;
  }
}

@media (max-width: 600px) {
  .places p {
    margin-top: 60px;
    margin-bottom: 10px;
  }

  .places img {
    width: 90vw;
  }

  .places {
    margin-left: -30px;
  }

  .places .text {
    margin-top: -65px;
  }

  .places .firsttext {
    font-size: 30pt;
    bottom: -25px;
  }

  .places .secondtext {
    font-size: 25pt;
    margin-bottom: 50px;
    bottom: -45px;
  }

  .places .thirdtext {
    font-size: 9pt;
    width: 90vw;
    margin-left: auto;
    margin-right: auto;
  }
}

/* -----footer----- */
footer {
  font-family: 'Raleway', sans-serif;
  /* color: white; */
  color: #D0CDC8;
  padding-bottom: 100px;
  margin-top: 50px;
  background-color: #181A1B;;
  /* background-color: black; */
  /* background-color: white; */
  /* -webkit-text-stroke: 0.5px #333333; */

}

.footertext {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-left: 100px;
}

footer .logo {
  width: 150px;
  height: auto;
  margin-left: 100px;
  margin-bottom: 25px;
  margin-top: 100px;
}

.contact,
.follow {
  flex: 1 1 calc(50% - 10px);
  margin: 5px;
  box-sizing: border-box;
}

.footertext .contacttext,
.footertext .followtext {
  color: #02ffc8;
  font-weight: 1000;
  font-size: 2.7em;
  text-transform: uppercase;
}

.footertext .email {
  font-size: 12pt;
  font-weight: 450;
}

.email a:link {
  color: #D0CDC8;
}

.email a:hover {
  color: #02ffc8;
}

.links {
  color: #333333;
  padding: 5px;
}

.links:link {
  color: #D0CDC8;
}

.links:hover {
  color: #02ffc8;
}

@media screen and (max-width: 800px) {

  .contact,
  .follow {
    flex: 1 1 100%;
    margin: 5px 0;
  }

  .follow {
    margin-bottom: 80px;
  }
}